apiVersion: v1
kind: Service
metadata:
  name: {{ include "decision-engine.fullname" . }}
  labels:
    {{- include "decision-engine.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "decision-engine.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http

